<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Categories" >
        <classes>
            <class name="cat_tests.tests.CategoryTests" />
        </classes>
    </test>

    <test name="MarketEntities">
        <classes>
            <class name="cat_tests.tests.targetingMarketEntityTests"/>
        </classes>
    </test>
</suite>
