<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Categories" >
        <classes>
            <class name="cat_tests.tests.CreateCategoryTests" />
            <class name="cat_tests.tests.ModifyCategoryTests" />
            <class name="cat_tests.tests.DeleteCategoryTests" />
        </classes>
    </test>
</suite>